@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, *::before, *::after{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --padding: 3rem;
    --margin-top: 3%;
    --margin-bottom: 5%;
}
body{
    max-width: 100%;
    min-height: 100vh;
}
/* HEADER SECTION */
header{
    padding: 3rem  var(--padding) 0rem;
    font-size: 20px;
    font-weight: bold;
}
/* USER PROFILE SECTION */
.user-profile{
    margin-top: var(--margin-top);
    padding: 0rem var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name p{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: var(--margin-bottom);
    letter-spacing: 15px;
    text-align: center;
}
.picture img{
    border-radius: .75em;
    width: 480px;
    height: 420px;
}
/* ABOUT ME SECTION */
.about-me{
    margin: var(--margin-top) auto ;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-me-title h2{
    font-size: 40px;
    font-weight: bolder;
    color: #000000;
    margin-bottom: var(--margin-bottom);
}
.about-me-summary p{
    font-size: 20px;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 2rem;
}
.my-work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-work-section-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.my-work-container{
    position: relative;
    margin: 0 auto;
}
.my-work-bg{
    width: 65vw;
    height: 630px;

}
/* add background colour */
.my-work-image img{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-bottom: 3rem; 
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 390px;
}
.my-work-summary-section{
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%);
    width: 60vw;
}
.my-work-summary-title{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.my-work-summary p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.my-work-container.one{
    margin-bottom: 5rem;
}
.viewmore-work-btn{
    margin: 5% 0%;
}
.viewmore-work-btn a {
    margin: 1.5rem 0;
    padding: 12px 1rem;
    border-radius: 20px;
    color: #000000;
    background-color: #DADADA;
    box-shadow: 0px 10px 10px 0px #9c9b9b;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
.viewmore-work-btn:hover{
    transform: scale(1.05);
}
/* EXPERTISE SECTION 
.expertise{
    margin-top: 5%;
    height: 300px;
    background-image: repeating-linear-gradient( 150deg, black , black 60px, rgb(66, 63, 63) 60px, rgb(66, 63, 63) 120px);
} */

/* EXPERTISE SECTION */
.expertise{
    position: relative;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.expertise-bg{
    width: 100%;
    height: auto;
}
.expertise-summary{
    font-size: 35px;
}
.expertise-summary p span{
    font-weight: bolder;
}
.expertise-summary ul{
    margin-top: 5%;
}
.expertise-summary ul li{
    list-style: none;
    font-weight: 500;
}
.expertise-content{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    color: white;
}
.expertise-btn a{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    justify-content: center;
    background-color: #DADADA;
    color: #000000;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 10px 0px #9c9b9b inset;
}
.expertise-btn:hover{
    transform: scale(1.05);
    width: 50%;
}

footer{
    width: 100%;
    height: auto;
    background-color: #DADADA;
    border-radius: 35px 35px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content-section{
    margin-top: 1.5rem;
    width: 60%;
}
.handshake-icon img{
    width: 60px;
    height: auto;
}
.footer-content{
    margin-bottom: 1rem;
}
.footer-content p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.footer-btn{
    margin-bottom: 20px;
    display: flex;
}
.footer-btn a{
    width: 50%;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 8px;
    padding: 10px 12px;
    border-radius: 20px;
}
.footer-btn .email{
    background-color: white;
    color: black;
}
.footer-btn .email:hover{
    background-color: black;
    color: white;
}
.footer-btn .whatsapp{
    background-color: black;
    color: white;
}
.footer-btn .whatsapp:hover{
    background-color: white;
    color: black;
}
.footer-social-icons a{
    margin: 10px;
}
.footer-social-icons a img:hover{
    transform: scale(1.1);
}
.back-icon img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 5%;
    margin-left: 1%;
    cursor: pointer;
}
.back-icon img:hover{
    transform: scale(1.1);
}

@media (max-width:1110px){
    .name p{
        font-size: 35px;
        letter-spacing: 10px;
    }
}
@media (max-width: 1180px){
    .my-work-bg{
        width: 70vw;
        height: 650px;
    }
    .my-work-summary-section{
        width: 50vw;
    }
    .my-work-summary-title{
        margin-top: 5rem;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }
    .my-work-summary p{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width: 900px){
    header{
        padding: 2rem  var(--padding) 0rem;
        font-size: 15px;
        font-weight: bold;
    }
    .name p{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: var(--margin-bottom);
        letter-spacing: 9px;
        text-align: center;
    }
    .my-work-bg{
        width: 70vw;
        height: 500px;
    }
    .my-work-image img{
        width: 400px;
        height: 400px;
    } 
    .my-work-summary-section{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%);
        width: 55vw;
    }
    .my-work-summary-title{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .my-work-summary p{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
    .expertise-summary{
        font-size: 25px;
    }
}

@media (max-width: 720px){
    header{
        padding: 3rem 0rem 0rem 4rem;
        font-size: 10px;
        font-weight: bold;
    }
    .user-profile{
        margin-top: 4rem;
        
    }
    .name p{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 3rem;
        letter-spacing: 1px;
    } 
    .picture img{
        border-radius: .75em;
        width: 320px;
        height: 360px;
    }
    .my-work-section-title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .my-work-container{
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .my-work-bg{
        width: 100%;
        margin: 0 auto;
    }
    .expertise-content{
        width: 80%;
    }
    .expertise-summary{
        font-size: 25px;
    }
    .expertise-summary p span{
        font-weight: bold;
    }
    .expertise-btn a{
        font-size: 13px;
        padding: 1.2rem 2.6rem;
    }


    


}
@media (max-width: 635px) {
    .about-me-title h2{
        font-size: 35px;
    }
    .about-me-summary p{
        font-size: 15px;
        line-height: 2rem;
    }
    .my-work-container{
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .my-work-bg{
        width: 80vw;
        height: 500px;
    }
    .my-work-image img{
        width: 300px;
        height: 400px;
    } 
    .expertise-summary{
        font-size: 20px;
    }
    .expertise-summary p span{
        font-weight: bold;
    }
    .expertise-btn a{
        font-size: 12px;
        padding: 1rem 2.5rem;
    }
    
    
}
@media (max-width:570px){
    .footer-content-section{
        margin-top: 1.5rem;
    }
    .handshake-icon img{
        width: 30px;
        height: auto;
    }
    .footer-content{
        margin-bottom: 1rem;
    }
    .footer-content p{
        font-size: 20px;
        font-weight: bold;
    }
    .footer-btn{
        margin-bottom: 20px;
        display: flex;
    
    }
    .footer-btn a{
        font-size: 10px;
        margin: 8px;
        padding: 10px 1px;
    }
    .footer-social-icons{
        margin-bottom: .5rem;
    }
    
}
@media (max-width: 500px){
    .expertise-content{
        width: 80%;
    }
    .expertise-summary{
        font-size: 15px;
    }
    .expertise-summary p span{
        font-weight: bold;
    }
    .expertise-btn a{
        font-size: 13px;
        padding: 1rem 2rem;
    }
    .viewmore-work-btn a {
        padding: 10px 14px;
        font-size: 12px;
    }
   
}
@media (max-width: 450px) {
    .about-me-title h2{
        font-size: 30px;
    }
    .about-me-summary p{
        font-size: 14px;
        line-height: 1.3rem;
    }
    .my-work-container{
        width: 90%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .my-work-bg{
        width: 90%;
        height: auto;
        display: block;
    }
    .my-work-image{
        width: 45%;
        position: absolute;
        top: 47%;
        left: 12%;
        transform: translateY(-50%);
    }
    .my-work-image img{
        width: 110%;
        height: auto;
    }
    .my-work-summary-section{

        width: 30%;
        position: absolute;
        top: 17%;
        right: 5%;
        margin-left: 13%;
        margin-bottom: -15px;
        transform: translateY(-50%);
    }
    .my-work-summary-title {
        font-size: 11px;
        text-align: left;
    }
    .my-work-summary p{
        font-size: 11px;
        text-align: left;
    }
    .expertise-content{
        width: 80%;
    }
    .expertise-summary{
        font-size: 15px;
    }
    .expertise-summary p span{
        font-weight: bold;
    }
    .expertise-btn a{
        font-size: 10px;
        padding: 14px 20px;
    }
}

@media (max-width: 413px){
    .my-work-summary-title {
        font-size: 8px;
        text-align: left;
    }
    .my-work-summary p{
        font-size: 8px;
        text-align: left;
    }
    .viewmore-work-btn{
        margin: 1.4rem 0;
        padding: 6px 13px;
    }
    .viewmore-work-btn a{
        font-size: 12px;
    }
    .expertise-content{
        width: 80%;
    }
    .expertise-summary{
        font-size: 13px;
    }
    .expertise-summary p span{
        font-weight: bold;
    }
    .expertise-btn a{
        font-size: 10px;
        padding: 14px 20px;
    }

}
@media (max-width: 340px){
    .my-work-image {
        width: 47%;
        top: 45%;
    }

    .my-work-summary-section {
        width: 25%;
        top: 9%;
        margin-left: 16%;
    }

    .my-work-summary-title {
        font-size: 6px;
    }

    .my-work-summary p {
        font-size: 6px;
    }
    .expertise-content{
        width: 85%;
    }
    .expertise-summary{
        font-size: 12px;
    }
    .expertise-summary p span{
        font-weight: bold;
    }
    .expertise-btn a{
        font-size: 9px;
        padding: 12px 18px;
    }
}

@media (max-width: 295px){
    .my-work-image {
        width: 50%;
        top: 45%;
    }

    .my-work-summary-section {
        width: 25%;
        top: 5%;
        margin-left: 18%;
    }

    .my-work-summary-title {
        font-size: 6px;
    }

    .my-work-summary p {
        font-size: 6px;
    }
}


